<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
  	<key>Options</key>
  	<array>
		<dict>
			<key>Description</key>
			<string>View Name</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>View Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Values</key>
			<array>
				<string>Objective-C</string>
			</array>
			<key>MainTemplateFiles</key>
			<array>
				<dict>
					<key>Objective-C</key>
					<string>___FILEBASENAME___.h</string>
				</dict>
				<dict>
					<key>Objective-C</key>
					<string>___FILEBASENAME___.m</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Template Author</key>
	<string>William Huangz - @whuangz</string>
</dict>
</plist>